<div>
  <!-- This is just a place holder for the cheerup of the day -->
  <img src="http://www.printablee.com/postpic/2011/04/free-printable-lds-family-quotes_173.jpg" style="height:400px;"/>
</div>


 <div class="row">
     <div class="col s12 m6">
       <div class="card blue-grey darken-1">
         <div class="card-content white-text">
           <span class="card-title">Login</span>
           <div class="row" ng-controller="railsController as rails">
             <form class="col s12" ng-submit="rails.login(user)">
               <div class="row">
                 <div class="input-field col s6">
                   <input id='username' type="text" ng-model="user.username">
                   <label for='username'>Username</label>
                 </div>
                 <div class="input-field col s6">
                   <input type="password" ng-model="user.password">
                   <label>Password</label>
                 </div>
               </div>
               <button class="btn waves-effect waves-light red" type="submit">Login</button>
             </form>
           </div>
         </div>
       </div>
     </div>
   </div>

 <!-- <div class="row">
   <div class="col s12 m6">
     <div class="card blue-grey darken-1">
       <div class="card-content white-text">
         <span class="card-title">Create Account</span>
         <div class="row" ng-controller="railsController as rails">
           <form class="col s12" ng-submit="rails.createUser(user)">
             <div class="row">
               <div class="input-field col s6">
                 <input type="text" ng-model="user.first_name">
                 <label>First Name</label>
               </div>
               <div class="input-field col s6">
                 <input type="text"  ng-model="user.last_name">
                 <label>Last Name</label>
               </div>
             </div>
             <div class="row">
               <div class="input-field col s6">
                 <input id='username' type="text" ng-model="user.username">
                 <label for='username'>Username</label>
               </div>
               <div class="input-field col s6">
                 <input type="password" ng-model="user.password">
                 <label>Password</label>
               </div>
             </div>
             <div class="row">
               <div class="input-field col s12">
                 <input type="email" ng-model="user.email">
                 <label>Email</label>
               </div>
             </div>
             <button class="btn waves-effect waves-light red" type="submit">Sign Up</button>
           </form>
         </div>
       </div>
     </div>
   </div>
</div> -->
