<div class="center">
  <h3>Welcome!</h3>
</div>

<form ng-click="rails.logout(user)" class="center">
    <button class="btn waves-effect waves-light red" type="submit">Logout</button>
</form>


    <span ng-click='toggle_edit_form=!toggle_edit_form'>
      <button class="btn waves-effect waves-light red" type="submit">Edit Account</button>
    </span>
    <form ng-show="edit_form" ng-click="rails.update(user)" class="center">
      <input type="text" placeholder="New Password" ng-model="user.password">
    </form>

<!-- Add a New Cheerup -->
<!-- <div class="row"> -->
 <div class="col s12 m6">
   <div class="card blue-grey darken-1">
     <div class="card-content white-text">
       <span ng-click="toggle_cheerup_form=!toggle_cheerup_form" class="card-title">New Cheerup</span>
       <div class="row" ng-controller="railsController as rails">
         <form ng-show="toggle_cheerup_form" class="col s12" ng-submit="rails.createCheerup(cheerup)">
           <div class="row">
             <div class="input-field col s6">
               <input type="text" ng-model="cheerup.title">
               <label for='title'>Title</label>
             </div>
             <div class="input-field col s6">
               <input type="text" ng-model="cheerup.category">
               <label for="content">Category</label>
             </div>
           </div>
           <div class="row">
             <div class="input-field col s12">
               <input type="text" ng-model="cheerup.content">
               <label for="content">Content</label>
             </div>
           </div>
           <button class="btn waves-effect waves-light teal" type="submit">Create</button>
         </form>
       </div>
     </div>
   </div>
 </div>
<!-- </div> -->

<h4 class="center"><strong>Your Cheerups</strong></h4>
<h5 ng-repeat="cheer in rails.currentUser.cheer_ups">{{cheer.category}}</h5>
<div class="row">
  <div class="col s6 m3">
   <div class="card blue-grey darken-1">
     <div class="card-content white-text">
       <span class="card-title"><strong>Stranger Kindness</strong></span>
       <br>
       <span class="card-title">Category: little thing</span>
       <p class='projectDescription'>
         It's the little things in life. Today, a kind lady payed for my family's meal in the drive-thru. I payed it forward to the customers in line behind me. Kindness comes in all shapes and sizes!
       </p>
       <div class="row">
       </div>
       <button class="btn waves-effect waves-light red" type="submit">Delete</button>
     </div>
   </div>
  </div>
  <div class="col s6 m3">
   <div class="card blue-grey darken-1">
     <div class="card-content white-text">
       <span class="card-title"><strong>Reach Out!</strong></span>
       <br>
       <span class="card-title">Category: belonging</span>
       <p class='projectDescription'>
         If you ever feel like you don't belong, stop! You do! There are people who love you and want to spend time with you if you ask...
       </p>
       <div class="row">
       </div>
       <button class="btn waves-effect waves-light red" type="submit">Delete</button>
     </div>
   </div>
  </div>
  <div class="col s6 m3">
   <div class="card blue-grey darken-1">
     <div class="card-content white-text">
       <span class="card-title"><strong>To My Baby!</strong></span>
       <br>
       <span class="card-title">Category: love</span>
       <p class='projectDescription'>
         To my husband of 7 years...I LOVE YOU BABE! My hubs is such a great friend, chef, and father to our 5 kittens. Don't know what I would do without you <3
       </p>
       <div class="row">
       </div>
       <button class="btn waves-effect waves-light red" type="submit">Delete</button>
     </div>
   </div>
  </div>
</div>

<!-- Delete user -->
<form ng-submit="rails.deleteUser(user)" class="center">
    <button class="btn waves-effect waves-light red" type="submit">Delete my Account</button>
</form>
